@import "utils";
@import "colors";

@import url('https://css.gg/list.css');
@import url('https://css.gg/add.css');
@import url('https://css.gg/trash.css');



.main-header{
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem 0 1.5rem;
  color: $baseWhite;
}

.main-header-title{
  font-size: 3rem;
}

.main-layout{
  align-items: center;
  justify-content: flex-start;
  height: 68%;
  padding: 3em 2rem 0;
  background-color: $baseWhite;
  border-radius: 20px 20px 0 0;
}

.add-task-container{
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  width: 100%;
}

.add-task-input-field{
  width: 75%;
  border: inherit;
  height: 2rem;
  margin: 1rem;
  border-bottom: 1px solid $baseLightBlue;
}

.task-list{
  list-style: none;
  padding: 0;
  width: 85%;
  height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
}

.task-item{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $baseLightBlue;
}

.task-text{
  word-break: break-word;
  max-width: 75%;
}
