html{
  height: 100%;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.crossed{
  text-decoration: line-through;
}

.hidden{
  display: none;
}

.flex{
  display: flex;
}
