@import "~normalize.css/normalize.css";
@import "~css.gg/icons-compressed/icons.css";

@import "utils";
@import "variables";

.main{
  &-header{
    justify-content: space-between;
    padding: 2rem 5rem 6rem;
    color: $baseWhite;

    &-title{
      font-size: 3rem;
      display: block;

      &-description{
        font-style: italic;
        font-size: 1.5rem;
      }
    }
  }

  &-layout{
    height: 60vh;
    position: relative;
    background-color: $baseWhite;
  }
}

.add-task {
  &-container {
    position: absolute;
    width: 100%;
    top: -40px;
  }
  &-form{
    padding: 2rem;
    justify-content: space-around;
    width: 80%;
    box-shadow: $box-shadow;
    background-color: $baseWhite;
  }
  &-input-field{
    width: 75%;
    padding: 0 1rem;
    line-height: 2.5rem;
    border-bottom: $border-bottom;
  }
}

.task-item {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  border-bottom: $border-bottom;

  &-list {
    padding: 2rem;
    margin: auto;
    margin-top: 6rem;
    width: 80%;
    height: 70%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-shadow: $box-shadow;
  }

  &-text{
    word-break: break-word;
    line-height: 1.5rem;
    padding: 0.5rem;
    max-width: 75%;
  }

  &-actions{
    width: 60px;
    justify-content: space-evenly;
  }
}

.footer-text{
  color: $baseWhite;
  text-align: right;
  padding: .5rem 2rem;
}
