@import "~normalize.css/normalize.css";
@import "~css.gg/icons-compressed/icons.css";

@import "utils";
@import "colors";


.main-header{
  justify-content: space-between;
  padding: 1rem 5rem 0.5rem;
  color: $baseWhite;
}

.main-header-title{
  font-size: 3rem;
  display: block;
}

.main-header-title-description{
  font-style: italic;
  font-size: 1rem;
}

.main-layout{
  height: 60vh;
  padding: 3em 2rem 0;
  background-color: $baseWhite;
  position: relative;
}

.add-task-container{
  padding-bottom: 2rem;
}

.add-task-input-field{
  width: 75%;
  border: inherit;
  height: 2rem;
  margin: 0;
  border-bottom: 1px solid $baseLightBlue;
}

.task-list{
  list-style: none;
  padding: 0;
  width: 100%;
  height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
}

.task-item{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid $baseLightBlue;
}

.task-text{
  word-break: break-word;
  max-width: 75%;
}

.button-delete{

}
