@import "colors";

html{
  font-size: 12px;
  height: 100vh;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  color: $baseBlack;
}

button{
  border: inherit;
  background-color: inherit;
}

.root{
  margin: auto;
  max-width: 725px;
  min-width: 320px;
  height: 70vh;
  background-color: $baseBlue;
  box-shadow: 0 0 20px $baseBlack;
}

.footer-text{
  color: $baseWhite;
  text-align: right;
  padding: .5rem 2rem;
}


.gg-add{
  --ggs: 1.8;
}

.gg-list{
  --ggs: 2.5;
}

.gg-custom-color{
  color: $baseDarkerBlue;
}

.crossed{
  text-decoration: line-through;
}

.hidden{
  display: none;
}

.flex{
  display: flex;
}

.center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.column{
  flex-direction: column;
}

