@import "colors";

html{
  font-size: 12px;
  height: 100%;
}

body{
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  color: $baseBlack;
}

button{
  border: inherit;
  background-color: inherit;
}

.root{
  margin: 0 auto;
  max-width: 425px;
  height: 100%;
  background-color: $baseBlue;
  box-shadow: 0 0 20px $baseBlue;
}

.footer-text{
  color: $baseWhite;
  text-align: right;
  padding: .5rem 2rem;
}


.gg-add, .gg-list{
  --ggs: 2;
}

.gg-custom-color{
  color: $baseDarkerBlue;
}

.crossed{
  text-decoration: line-through;
}

.hidden{
  display: none;
}

.flex{
  display: flex;
}

.center{
  justify-content: center;
}

.column{
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}
