@import "variables";

html{
  font-size: 12px;
  height: 100vh;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  color: $baseBlack;
}

button, input{
  border: none;
  background-color: $baseWhite;
}

/*desktop sizes*/
.root{
  margin: auto;
  max-width: 725px;
  max-height: 725px;
  min-height: 560px;
  background-color: $baseColor;
  box-shadow: $box-shadow;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.crossed{
  text-decoration: line-through;
}

.gg-add{
  --ggs: 1.8;
}

.gg-list{
  --ggs: 2.5;
}

.gg-custom-color{
  color: $baseColor;
}



.task-item-list {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $baseColor;
    outline: 1px solid slategrey;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $baseSecondaryColor;
  }
}

.gg-add:hover, .gg-trash:hover{
  color: $baseSecondaryColor;
}

