@import "colors";
@import 'utils';
@import "task";
@import 'buttons';

.app{
  background-color: $baseWhite;
  border-radius: 20px 20px 0 0;
  flex-direction: column;
  height: 75%;

  &-container{
    max-width: 425px;
    margin: 0 auto;
    height: 100%;
    background-color: #0ad4ce;
    font-size: 1rem;
    box-shadow: 0 0 20px #69dcd9;
  }
}

.main-header{
  justify-content: space-evenly;
  color: $baseWhite;
  padding: 60px 0 10px;
}

.to-do-list-icon{
  width: 40px;
  height: 40px;
  align-self: center;
}

.input-task-field{
  border: inherit;
  width: 80%;
  font-size: 1rem;
}
