.task{
  &-list {
    margin: 0 20px;
    padding: 0;
    list-style: none;
    overflow: auto;
  }
  &-add{
    margin: 15px 25px 40px;
    justify-content: space-between;
  }

  &-item{
    justify-content: space-between;
    padding: 20px 15px 0;
  }
}
